body {
   position: relative;
   color: white;
   padding: 0;
   margin: 0;
}

.wrapper {
   display: flex;
   width: 450px;
   height: 750px;
   position: relative;
   margin: 0 auto;
   background-color: black;
   border-radius: 10px;
}

.magician {
   position: relative;
}

#properties {
   color: white;
}

#head {
   height: 450px;
   width: 450px;
   margin-top: 56px;
}

button {
   display: inline-flex;
   justify-content: center;
   align-items: center;
   width: 30%;
   height: 40px;
   margin-left: 9px;
   color: (black, white);
   background: (white, black);
}

#dialog {
   display: block;
   width: 450px;
   border: none;
   background-color: black;
   color: white;
   height: 51px;
   padding: 0;
   text-align: center;
   position: absolute;
   top: 0px;
   margin-top: 22px;
}

#dialog>p {
   padding-left: 0;
   margin: 0;
}

.calories {
   color: red;
}

button {
   float: left;
   height: 50px;
   font-weight: 800;
   color: red;
   background-color: blue;
   border: 3px solid yellow;
   border-radius: 20px;
}

.btn_3 {
   position: relative;
   top: -10px;
}

.text_3 {
   margin: 10px;
   padding-left: 10px;
}