.weather{
    display: flex;
    /* flex-direction: row; */
    font-family: 'Lato', sans-serif;
}
.day1{
    width: 80px ;
    height: 160px ;
    text-align: center;
}
.day1:hover{
    box-shadow: silver 0px 0px 10px ;
}
.day2{
    width: 80px ;
    height: 160px ;
    text-align: center;
}
.day2:hover{
    box-shadow: silver 0px 0px 10px ;
}
.day3{
    width: 80px ;
    height: 160px ;
    text-align: center;
}
.day3:hover{
    box-shadow: silver 0px 0px 10px ;
}
.day4{
    width: 80px ;
    height: 160px ;
    text-align: center;
}
.day4:hover{
    box-shadow: silver 0px 0px 10px ;
}
.day5{
    width: 80px ;
    height: 160px ;
    text-align: center;
}
.day5:hover{
    box-shadow: silver 0px 0px 10px;
}
.day6{
    width: 80px ;
    height: 160px ;
    text-align: center;
}
.day6:hover{
    border-radius: 2px;
    box-shadow: silver 0px 0px 10px ;
}
.temper{
    font-weight: 400;
    font-size: 2em;
}
.data{
 background-color: blue;
 color: aliceblue;
 margin: 1px;
 font-weight: 700;
 font-size: 1.5em;
}
img{
    width: 80px ;  
    height: 70px;
}