.wrapper {
  width: 550px;
  margin: 0px auto;
}
#conteiner {
  overflow: hidden;
}
.track {
  display: flex;
  transition: all 0.3s ease-in-out;
}
.next {
  position: relative;
  left: 525px;
  bottom: 378.5px;
  height: 375px;
  width: 25px;
}
.prev {
  z-index: 5;
  float: left;
  position: relative;
  height: 375px;
  width: 25px;
}
img {
  width: 500px;
}
