
.japan {
    position: relative;
    width: 20em;
    height: 15em;
    border: 1px solid gray;

}
.japan::after{
    content: "";
    display: inline-block;
    position: absolute;
    left: 6em;
    top: 3.5em;
    height: 8em;
    width: 8em;
    background-color: red;
    border-radius: 50%;

}
    