body {
  font-family: "Lobster", cursive;
  font-size: 15px;
}
h1 {
  text-align: center;
}
.main {
  border-radius: 20px;
  margin: 0 auto;
  width: 450px;
  height: 700px;
  background-image: url(https://static5.depositphotos.com/1016729/404/i/600/depositphotos_4047725-stock-photo-menu-background.jpg);
  background-size: cover;
  padding: 20px 100px 100px 100px;
}
.Value {
  display: block;
  text-align: right;
}
