table{
    border: 5px solid black;
    text-align: center;
    margin: 0 auto;
    width:320px ;
    height: 640px;
}
tr{
    background-color: silver ;
}
td{
    width: 33.333%;
}
#notification{
    position: absolute;
    top: 15px;
    right: 12px;
    text-align: center;
    background-color: gray;
    padding: 10px;
    border: 1px solid black;
    border-radius: 100px;
    width: 200px;

}
.red{
    background-color: red;
}
