a[href="https://www.freecodecamp.org/"], [href="https://www.sitemaps.org/"] {
    color: green;
}

a[href="https://www.freecodecamp.org/"]::after, [href="https://schema.org/a"]::after {
    content: "\21D2";
    color: coral;
}

a[href="https://developer.mozilla.org/"]::before, [href="https://validator.w3.org/"]::before, [href="https://www.freecodecamp.org/"]::before, [href="https://ucode.world/"]::before, [href="https://schema.org/a"]::before, [href="https://www.sitemaps.org/"]::before, [href="https://prometheus.org.ua"]::before {
    content: "\00BB";
    padding-right: 10px;
}

a[href="http://nginx.org/"]::before, [href="http://test.www.link/"]::before {
    content: "\00D7";
    color: red;
    padding-right: 10px;
}
a[href$=a]:hover::after {
    font-style: italic;
    color: coral;
    content: "\2026 last symbol is 'a'";
}