table {
    width: 0 auto;
    
}
td{
    padding: 10px;
}
.black {
    background-color: black;
    color: #ffffff;
    
}

.orenge {
    background-color: orange;
}
.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}
.red {
    background-color: red;
}
.green {
    background-color: green;
}
.purple {
    background-color: purple;
}
img {
    height: 120;
    border-radius: 30px;
    width: 120px;
    padding: 10px;
}
