form{
    padding: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: silver;
}
fieldset{
    padding: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: silver;
    margin: 10px;
}
textarea{
    border-style: solid;
    border-width: 2px;
    border-color: silver;
    margin: 15px;
}
