h1 {
    margin: auto;
    background-color: red;
}

span {
    margin: auto 50%;
    color: white;
}

.menu a {
    text-decoration: none;
}

.menu li {
    position: relative;
    list-style: none;
}

.menu_list {
    display: flex;
    min-width: 300px;
    position: relative;
    left: 200px;
    float: left;
    
}

.menu_list>li {
    margin: 10px;
}

.menu_list>li:hover .sub-menu_list {
    display: block;
}

.menu_link {
    color: green;
    background: red;
  
}

.sub-menu_list {
    /* display: none; */
    position: absolute;
    left: -5px;
    top: 13px;
    color: red;
    padding: 10px;
    min-width: 300px;
}
.sub-menu_list > li {
    background-color: yellow;
}
.sub-menu_list > li:hover .sub-sub-menu_list{
display: block;
}
.sub-menu_link {
    color: yellow;
    background-color: green;
    display: block;
    padding: 10px;
    position: absolute;
    left: -35px;
}

.sub-sub-menu_list {
    position: relative;
    top: 100px;
    right: 500px;
    min-width: 300px;
    padding: 5px;
}
.sub-sub-menu_list > li{
    background-color: black;
}
.sub-sub-menu_link {
    color: blueviolet;
    display: block;
    padding: 5px;
}