h1 {
    color: white;
    background-color: red;
    text-align: center;
}

ul {
    width: 200px;
    list-style: none;
}

li ul {
    position: absolute;
    display: none;
    margin-left: 50px;
    margin-top: 16px;
}

li a {
    display: block;
    padding: 10px;
    color: white;
    border: 1px solid black;
    background-color: yellowgreen;
}
li a:hover {
    color: red;
    background-color: yellow;
}
li:hover ul {
    display: block;
}
.bg1 {
    height: 35px;
    width: 300px;
    position: absolute;
    left: 300px;
    text-align: center;
    padding-top: 10px;
    background-color: green;
    border: 1px solid black;
    margin-right: 2px;
}
.bg2 {
    height: 35px;
    width: 300px;
    position: absolute;
    left: 602px;
    text-align: center;
    padding-top: 10px;
    background-color: green;
    border: 1px solid black;
    margin-left: 2px;
}
.ip {
    position: relative;
    bottom: 15px;
    right: 380px;
}
.ip1 {
    position: relative;
    bottom: 17px;
    right: 190px;
}

.im {
    position: relative;
    bottom: 15px;
    right: -120px;
}
.ip2 {
    position: relative;
    bottom: 17px;
}