.in {
    height: 500px;
}

.man {
    height: 150px;
}

.in:hover+div>.man:nth-child(2n +1) {
    visibility: hidden;
}

.in:hover+div+div>.man:nth-child(2n +2) {
    visibility: hidden;
}

.in:hover+div+div+div>.man:nth-child(2n +1) {
    visibility: hidden;
}

.in:hover+div+div+div+div>.man:nth-child(2n +2) {
    visibility: hidden;
}

.in:hover+div+div+div+div+div>.man:nth-child(2n +1) {
    visibility: hidden;
}

.in:hover+div+div+div+div+div+div>.man:nth-child(2n +2) {
    visibility: hidden;
}